* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.Blog {
    background: url('home-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.navbar {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    position: relative;
    float: left;
    color: rgba(255, 255, 255, 0.75);
    padding: 25px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 15px;
}

.footer {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 80px;
}
.footer a {
    position: relative;
    top: 30px;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
}
a:hover {
    background: white;
    color: black;
}