* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.Contacts {
    background: url('contacs-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    box-sizing: inherit;
}
.navbar {
    display: inline-block;
    width: 100%;
    background: gray;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    position: relative;
    float: left;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
    border-radius: 10%;
}
.navbar a:hover {
    background: white;
    color: black;
}
button {
    position: relative;
    background: transparent;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10%;
}
button:hover {
    background: white;
    color: black;
}
.footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 80px;
}