* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.Contacts {
    background: url('contacs-background.jpg');
    background-repeat: auto;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.navbar {
    display: inline-block;
    width: 100%;
    background: gray;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    position: relative;
    float: left;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
    border-radius: 10%;
}
.navbar a:hover {
    background: white;
    color: black;
}
button {
    position: relative;
    background: transparent;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10%;
}
button:hover {
    background: white;
    color: black;
}
.footer {
    position: relative;
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position:0% 0%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 80px;
}