* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.Resume {
    background: url('resume-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    box-sizing: inherit;
}
.navbar {
    display: inline-block;
    width: 100%;
    background: gray;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    position: relative;
    float: left;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: whitesmoke;
    color: rgba(214, 249, 255, 0.75);
    padding: 25px;
    border-radius: 10%;
}
.navbar a:hover {
    background: white;
    color: black;
}
.Big-paragraph {
    height: 300px;
    position: relative;
}
.Big-paragraph h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: rgb(0, 0, 0, 0.5);
}
.Small-paragraph {
    height: 50px;
    position: relative;
    text-align: center;
}
.Small-paragraph h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(0, 0, 0, 0.5);
}
button {
    position: relative;
    background: transparent;
    border: none;
    font-size: 18px;
    color: rgb(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10%;
}
button:hover {
    background: white;
    color: black;
}
.footer {
    position: relative;
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position:0% 0%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 80px;
}