* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.Home {
    background: url('home-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.navbar {
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.navbar h2 {
    position: relative;
    float: left;
    color: rgba(255, 255, 255, 0.75);
    padding: 25px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    float: right;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 15px;
}
.Head_title {
    position: relative;
    height: 200px;
}
.Head_title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: rgba(0, 0, 0, 0.75);
}
.CV {
    height: 50px;
    position: relative;
}
.CV a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0, 0.75);
    padding: 15px;
    border-radius: 15px;
}
.Blog {
    height: 50px;
    position: relative;
}
.Blog a {
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0, 0.75);
    padding: 15px;
    border-radius: 15px;
}
.footer {
    position: absolute;
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 80px;
}
.footer a {
    position: relative;
    top: 30px;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px;
}
a:hover {
    background: white;
    color: black;
}